.ambitube-enabled {
  --ambitube-width: min(calc(1.77*90vh), 95vw);
  --ambitube-height: calc(var(--ambitube-width)/1.77);

  #page-manager {
    margin-top: 0 !important;
  }

  #secondary {
    display: none !important;
  }

  #masthead-container {
    display: none !important;
  }

  #below {
    display: none !important;
  }

  #player-container-inner {
    padding-top: var(--ambitube-height) !important;
    width: var(--ambitube-width) !important;
  }

  video {
    height: var(--ambitube-height) !important;
    width: var(--ambitube-width) !important;
  }

  .ytp-chrome-bottom {
    width: var(--ambitube-width) !important;
  }

  #primary {
    flex-basis: 1 !important;
    padding-top: calc((100vh - var(--ambitube-height))/2) !important;
    max-width: unset !important;
  }

  #player-container-outer {
    max-width: var(--ambitube-width) !important;
  }
}
